* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #ff4686, #ff4699);
}

.grid-contanier {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-contanier > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(41, 36, 36);
  outline: invert;
  background-color: #111;
  color: #eee;
}

.grid-contanier > button:hover {
  background-color: rgb(172, 140, 140);
  color: #111;
}

.grid-contanier > .operator {
  background: #cf4777;
}

.span-two {
  grid-column: span 2;
}

.grid-contanier > .output {
  grid-column: 1/ -1;
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.grid-contanier > .output > .previuos-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.grid-contanier > .output > .current-operand {
  color: white;
  font-size: 2.5rem;
}
